<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyMaster"
        tools:targetApi="31">

        <!-- Registro de usuario -->
        <activity
            android:name=".ActivityRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Onboarding -->
        <activity
            android:name=".activity_onboarding"
            android:exported="false" />

        <!-- Splash Screen — punto de entrada de la app -->
        <activity
            android:name=".ui.onboarding.Splash"
            android:exported="true"
            android:theme="@style/Theme.MoneyMaster">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding slides -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />

        <!-- Login -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>